{% extends 'home/base.html' %} {% block page_title %} {{pg_title}} {% endblock %} {% block content %}
{% if user.is_authenticated %}

{% block logged_in %} {% endblock %}

{% else %}
<div class="container padding">
    <div class="welcome text-center">
        <div class="jumbotron">
            <h1 class="display-6 text-warning">
                Please <a href="{% url 'login' %}"> login </a> to see {{pg_title}} page content.
                <br>No account? <a href='/accounts/signup'> Signup </a> 
            </h1>
        </div>
    </div>
</div>

{% endif %} {% endblock %}