{% extends 'home/base.html' %} {% block page_title %} {{pg_title}} {% endblock %} {% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container text-justify">
        <p class="lead">
            At GISPower, we use geographic information system(GIS) in electrical power distribution network.
        </p>
        <p>
            We incorporate geographical context in transformer distribution assets data to illustrate dynamic loading of power distribution
            in a selected area.
        </p>
    </div>
</div>
{% endblock %}